		<div class="post-topbar">
									<div class="user-picy">
										<img class="imgPP" src="{{ asset(app.user.dataUser.link) }}" alt="">
									</div>
									<div class="post-st">
										<ul>
											<li><a class="post_project" href="#" title=""><span></span>Publication</a></li>
										</ul>
									</div><!--post-st end-->
								</div><!--post-topbar end-->





