{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/nav/css/main.css') }}" />
{% endblock %}

{% block body %} 
<div  style="background-color:white; width: 70%; margin-left: 15%; margin-right: 15%">
		<div style="margin:auto; left:50%; right:50%; width: 75% ;margin-top:-5%;padding-top:6%;">
			<h1>Terms and Conditions ("Terms")</h1>


            <p>Veuillez lire les présentes Conditions Générales avant d'utiliser notre site.

            En utilisant le Site, vous manifestez votre acceptation des Conditions Générales, sans modification, que vous choisissiez de devenir membre ou non. Si vous n'acceptez pas les Conditions Générales, n'utilisez pas le Site.

            Admissibilité. Vous devez avoir au moins dix-huit ans pour pouvoir devenir membre ou utiliser notre site.
            En utilisant le Site, vous déclarez avoir le droit, le pouvoir et la capacité d'accepter les Conditions Générales et d'en respecter l'ensemble des termes.
            A tout moment notre site se réserve les droits de modifier la CGU présente.
            Tous nos services sont gratuits sans limitations d'utilisation.
            Lorizon.com/fr se réserve le droit de résilier toute annonce è tout moment sans justifications..
            Utilisation non commerciale par les membres. Le Site est destiné à l'usage personnel des membres et ne peut être utilisé à des fins commerciales. Les organisations, les sociétés, et/ou les entreprises ne peuvent pas devenir membres et ne doivent pas utiliser le Service ou le Site à quelque fin que ce soit. Les utilisations illicites et/ou non autorisées du Site, telles que la collecte des noms d'utilisateurs et/ou des adresses email des membres par des moyens électroniques ou par tout autre moyen dans le but d'envoyer des emails non sollicités, ainsi qu'un framing non autorisé du Site ou un lien non autorisé vers le Site, feront l'objet de poursuites, et d'une action judiciaire le cas échéant.
            Contenu affiché sur le Site et Contenu Prohibé.
            Les informations que vous fournissez et que vous affichez sur le site doivent être exactes et conformes à la réalité.
            Lorizon peut examiner et supprimer tous contenus, messages, photos ou profils diffusés estimés en violations de la CGU
            Vous êtes exclusivement responsable du Contenu que vous publiez, présentez ou affichez sur le site ou que vous transmettez à d'autres membres par le biais du site.
            En affichant un Contenu sur un espace public du site , vous concédez de plein droit lorizon.com, et vous déclarez avoir le droit de le faire, une licence gratuite, non exclusive, irrévocable, pour la durée de protection dudit Contenu par les droits de propriété intellectuelle correspondants, et pour le monde entier d'utiliser, de copier, d'afficher et de distribuer lesdites informations et ledit Contenu et de réaliser des œuvres dérivées à partir desdites informations et dudit Contenu, ou d'incorporer ceux-ci dans d'autres œuvres, et de concéder et autoriser des sous-licences sur ceux-ci.
            Droits de propriété intellectuelle. Vous ne pouvez pas afficher, distribuer ou reproduire de quelque manière que ce soit, d'éléments protégés par le droit d'auteur, de marques ou d'autres informations protégées ou relatives à des droits de propriété intellectuelle sans le consentement préalable et écrit du titulaire desdits droits.
            La liste ci-dessous énonce de manière non-exhaustive le type de Contenu considéré comme illégal ou prohibé sur le Site:
            constitue une injure manifeste de la communauté en ligne, notamment le Contenu qui prône le racisme, le fanatisme, les actes de haine ou de violence à l'encontre d'un groupe ou d'un individu
            constitue un profil ou des photographies de tiers utilisés sans leur autorisation
            est constitutif de harcèlement d'une autre personne, ou encourage au harcèlement
            entraîne la transmission de « pourriel », de « chaînes de lettres », ou de courrier de masse non sollicité ou «spamming»
            est constitué d'informations que vous savez fausses ou trompeuses, ou promeut des activités illicites, injurieuses, menaçantes, obscènes, diffamatoires ou calomnieuses
            promouvoir le piratage (notamment liens vers sites 'pirates')
            est constitutif de pédo-pornographie, ou des violences à l'encontre de mineurs, ou sollicite des informations personnelles de mineurs
            Se livre à des activités commerciales sans notre consentement écrit préalable.
            Toute utilisation sortant du contexte d'utilisation d'un site de rencontres 'traditionnel'.
            Conduite
            Vous n'utiliserez aucun outil (robot etc..) ou quelconque logiciel, ou procédés manuel ou automatiques pour indexer, explorer des données.
            Vous ne devez pas mentionner dans votre profil de numéros de téléphone, d'adresses, de noms, d'URLs ou d'adresses email.
            Vous ne vous ferez pas passer pour une autre personne.
            Vous ne Harcèlerez personne.
            Vous vous engager à n envoyer par email ou afficher aucun élément pouvant contenir un code ou virus informatique.
            Responsabilité. NOUS NE SERONS PAS RESPONSABLE DES DOMMAGES DE QUELQUE NATURE QUE CE SOIT DECOULANT DE VOTRE UTILISATION DU SITE. DE MANIERE GENERALE, NOUS NE SERONS PAS RESPONSABLE DES DOMMAGES INDIRECTS ET/OU IMPREVISIBLES RESULTANT DE VOTRE UTILISATION DU SITE.</p>

		</div>
	</div>

{# <h2>Contact Us</h2>

<p>If you have any questions about these Terms, please contact us.</p> #}
{% endblock %}
